.photo-grid__item {
  object-fit: cover;
  /*object-position: left;*/
  max-width: 284px; 
}

@media (max-width: 1279px) {
  .photo-grid__item {
    max-width: calc((100vw - 124px)/3); 
  }
}

@media (max-width: 1023px) {
  .photo-grid__item {
    max-width: calc((100vw - 64px)/2); 
  }
}

@media (max-width: 767px) {
  .photo-grid__item {
    max-width: calc(100vw - 32px); 
  }
}

@media (max-width: 618px) {
  .photo-grid__item {
    max-width: calc(100vw - 32px); 
  }
}