.footer {
  max-width: calc(100vw - 96px);
  display: flex;
  justify-content: space-between;
  margin: 0 48px 0;
  padding-bottom: 24px;
}

@media (max-width: 1023px) {
  .footer {
    max-width: calc(100vw - 48px);
    margin: 0 24px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: calc(100vw - 134px);
    min-height: 310px;
    flex-direction: column;
    margin: 0 118px 0 16px;
  }
}